<launch>
  <!-- Argument launch_gazeebo:=true launches gazeebo -->
  <arg name="launch_gazebo" default="false" doc="Option to launch turtlebot in Gazebo instead of real life."/>

    <!-- Launching gazeebo with "home" configuration if "launch_gazeebo:=true"-->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" if="$(arg launch_gazebo)"/>

  <!-- Launching turtlebot3_bringup otherwise -->	
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="burger"/>
  </include>
  
  <!-- Launching slam toolbox -->
  <include file="$(find slam_toolbox)/online_sync.launch"/>

  <!-- Launching manual control of turtlebot -->	
  <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="turtlebot3_teleop_keyboard"  output="screen"/>
  
  <!-- Launching RViz -->
  <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation.rviz"/>
</launch>
